<!doctype html>
<html lang="en">
  <head>
    <title>Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <style media="screen" type="text/css">
      .layer1_class { position: absolute; z-index: 1; top: 100px; left: 50px; right: 50px; visibility: visible; }
      .layer2_class { position: absolute; z-index: 2; top: 0px; left: 0px; right: 0px; visibility: hidden }
      .fa1 {
        font-size: 25px;
        padding: 11px;
    }
    
      
    </style>
    
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

     <link rel="stylesheet" type="text/css" href="/stylesheet/stylesheet.css">
    <link rel="stylesheet" type="" href="/stylesheet/app.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="pZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     <script>
      setTimeout( function downLoad(){
        if (document.all){
            document.all["layer1"].style.visibility="hidden";
            document.all["layer2"].style.visibility="visible";
        } else if (document.getElementById){
            node = document.getElementById("layer1").style.visibility='hidden';
            node = document.getElementById("layer2").style.visibility='visible';
        }
      },2000);
    </script>
  </head>
  <body onload="downLoad()">
    <div id="layer1" class="layer1_class container">
      
        <div class="load">
            <div class="gear one">
                <svg id="blue" viewbox="0 0 100 100" fill="#94DDFF">
                <path d="M97.6,55.7V44.3l-13.6-2.9c-0.8-3.3-2.1-6.4-3.9-9.3l7.6-11.7l-8-8L67.9,20c-2.9-1.7-6-3.1-9.3-3.9L55.7,2.4H44.3l-2.9,13.6      c-3.3,0.8-6.4,2.1-9.3,3.9l-11.7-7.6l-8,8L20,32.1c-1.7,2.9-3.1,6-3.9,9.3L2.4,44.3v11.4l13.6,2.9c0.8,3.3,2.1,6.4,3.9,9.3      l-7.6,11.7l8,8L32.1,80c2.9,1.7,6,3.1,9.3,3.9l2.9,13.6h11.4l2.9-13.6c3.3-0.8,6.4-2.1,9.3-3.9l11.7,7.6l8-8L80,67.9      c1.7-2.9,3.1-6,3.9-9.3L97.6,55.7z M50,65.6c-8.7,0-15.6-7-15.6-15.6s7-15.6,15.6-15.6s15.6,7,15.6,15.6S58.7,65.6,50,65.6z"></path>
                </svg>
            </div>
            <div class="gear two">
                <svg id="pink" viewbox="0 0 100 100" fill="#FB8BB9">
                <path d="M97.6,55.7V44.3l-13.6-2.9c-0.8-3.3-2.1-6.4-3.9-9.3l7.6-11.7l-8-8L67.9,20c-2.9-1.7-6-3.1-9.3-3.9L55.7,2.4H44.3l-2.9,13.6      c-3.3,0.8-6.4,2.1-9.3,3.9l-11.7-7.6l-8,8L20,32.1c-1.7,2.9-3.1,6-3.9,9.3L2.4,44.3v11.4l13.6,2.9c0.8,3.3,2.1,6.4,3.9,9.3      l-7.6,11.7l8,8L32.1,80c2.9,1.7,6,3.1,9.3,3.9l2.9,13.6h11.4l2.9-13.6c3.3-0.8,6.4-2.1,9.3-3.9l11.7,7.6l8-8L80,67.9      c1.7-2.9,3.1-6,3.9-9.3L97.6,55.7z M50,65.6c-8.7,0-15.6-7-15.6-15.6s7-15.6,15.6-15.6s15.6,7,15.6,15.6S58.7,65.6,50,65.6z"></path>
                </svg>
            </div>
            <div class="gear three">
                <svg id="yellow" viewbox="0 0 100 100" fill="#FFCD5C">
                <path d="M97.6,55.7V44.3l-13.6-2.9c-0.8-3.3-2.1-6.4-3.9-9.3l7.6-11.7l-8-8L67.9,20c-2.9-1.7-6-3.1-9.3-3.9L55.7,2.4H44.3l-2.9,13.6      c-3.3,0.8-6.4,2.1-9.3,3.9l-11.7-7.6l-8,8L20,32.1c-1.7,2.9-3.1,6-3.9,9.3L2.4,44.3v11.4l13.6,2.9c0.8,3.3,2.1,6.4,3.9,9.3      l-7.6,11.7l8,8L32.1,80c2.9,1.7,6,3.1,9.3,3.9l2.9,13.6h11.4l2.9-13.6c3.3-0.8,6.4-2.1,9.3-3.9l11.7,7.6l8-8L80,67.9      c1.7-2.9,3.1-6,3.9-9.3L97.6,55.7z M50,65.6c-8.7,0-15.6-7-15.6-15.6s7-15.6,15.6-15.6s15.6,7,15.6,15.6S58.7,65.6,50,65.6z"></path>
                </svg>
            </div>
            <div class="lil-circle"></div>
            <svg class="blur-circle">
                <filter id="blur">
                <fegaussianblur in="SourceGraphic" stddeviation="13"></fegaussianblur>
                </filter>
                <circle cx="70" cy="70" r="66" fill="transparent" stroke="white" stroke-width="40" filter="url(#blur)"></circle>
            </svg>
        </div>
        <div class="text">loading</div>
    </div>

<div id="layer2" class="layer2_class ">
        
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><img src="./stylesheet/logo2.png" class="imagec" alt=""></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
        <div class="section">
            <header class="home-section">
                <div class="dark-overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-md">
                                <h1 class="text-center p-5 text-white size">Making Life Easier</h1>
                                                                    
                               <div class="text-center p-5">
                                    <a href="#About" class="btn btn-danger mt-5 ">Get Started</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    

    <div id="About" class="mb-5">
        <div class="container">
            <h1 class="text-center size1 mt-5">About</h1>
            <span class="line my-4"></span>
            <p class="size3">Daily Rozgar is an android and web based application where a single user/customer can hire a skilled worker (like Plumber,Electrician,Painter,Gardener etc.) or unskilled worker (like Housekeepers,Maids,Sweeper,Cleaner,etc.) available near to them, according to his/her requirement.
                 Small scale business like (Hotels,Restuants,Cottage industries,Workforce providers etc.) which need skilled or unskilled worker for a specific time can also open vacancies and recruit them.
            </p>
            <div class="row mt-5">
                
                <div class="col col-md-6 text-center">
                    <a href="/customerLogIn" class="btn btn-primary m-5  ">Customer</a>
                </div>
                <div class="col col-md-6 text-center">
                    <a href="/workerLogIn" class="btn btn-success m-5">Worker</a>
                </div>
            </div>
        </div>
    </div>
    
    <section id="contact" class="bg-light p-5 mt-4">
    <div class="container">
        <div class="row text-center">
            <div class="info-header mb-3">
                <h1 class="justify-content-around ">Contact Us</h1>
            </div>

        </div>
        <div class="row">
            <div class="col-md-8 p-2">
                <form action="">
                    <div class="form-group">
                        <div class="input-group ">
                            <span class="input-group-addon"><i class="fa fa1 fa-user bg-success px-3"></i></span>
                            <input type="text" name="" value="" class="form-control " placeholder="Name">
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="input-group ">
                            <span class="input-group-addon"><i class="fa fa1 fa-envelope bg-success px-3"></i></span>
                            <input type="text" name="" value="" class="form-control " placeholder="E-mail">
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon bg-success"><i class="fa p-3 fa-pencil bg-success"></i></span>
                            <textarea name="" class="form-control" id="" cols="20" rows="5" placeholder="Message"></textarea>
                        </div>

                    </div>

                    <input type="submit" class="btn btn-outline-success btn-block" value="Submit">
                </form>
            </div>


            <div class="col-lg-4 align-self-center">
                <img src="/stylesheet/logo1.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>

</section>
    
    <footer class="foo text-white">
        <div class="container">
            <div class="row">
                
                <div class="col text-center py-5">
                
                    
                    <p>Email : dailyrozgar@gmail.com</p>
                    <p>&copy; DailyRozgar</p>
                
            </div>
            </div>
        </div>
    </footer>

</div>




  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>